---
title: INTRO
---
extends shared/_layout
block content
  
  // INTRO HEADER
  .intro-header
    .intro-logo
      include ../inline-svg/logo.svg

  // INTRO MAIN
  .intro
    .container.intro__bg
      .intro__name Винная картА
      
      .intro__welcome
        a(href="#pdf-link" target="_blank").welcome-card
          .welcome-card__icon
            +icon('ico-pdf')
          .welcome-card__name Смотреть винную карту pdf
        a(href="filter.html").welcome-card
          .welcome-card__icon
            +icon('ico-filter')
          .welcome-card__name Подобрать вино <br> по параметрам
