---
title: По меню
---
extends shared/_layout
block content
  
  // INTRO HEADER
  .intro-header
    a(href="intro.html").intro-logo.intro-logo--no-mark
      include ../inline-svg/logo.svg
  
  // NAVIGATION
  .page-nav
    .container
      a(href="filter.html").page-nav__prev
        +icon('ico-left-arrow')

  // STEP 2
  .intro
    .container
      .intro__name По меню
      .intro__instruction Выберите вино по типу блюд, с которыми оно сочетается
          
      // options
      .checkbox-row.swiper-container(js-slider)
        .swiper-wrapper
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_1")
            label(for="checkbox_1")
              img(data-src='img/menu/menuCard1.jpg' data-srcset='img/menu/menuCard1@2x.jpg 2x' js-lazy)
              span Суши
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_2" checked)
            label(for="checkbox_2")
              img(data-src='img/menu/menuCard2.jpg' data-srcset='img/menu/menuCard2@2x.jpg 2x' js-lazy)
              span Роллы
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_3")
            label(for="checkbox_3")
              img(data-src='img/menu/menuCard3.jpg' data-srcset='img/menu/menuCard3@2x.jpg 2x' js-lazy)
              span Сашими
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_4")
            label(for="checkbox_4")
              img(data-src='img/menu/menuCard4.jpg' data-srcset='img/menu/menuCard4@2x.jpg 2x' js-lazy)
              span Запеченные роллы
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_5")
            label(for="checkbox_5")
              img(data-src='img/menu/menuCard5.jpg' data-srcset='img/menu/menuCard5@2x.jpg 2x' js-lazy)
              span Рыба
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_6")
            label(for="checkbox_6")
              img(data-src='img/menu/menuCard6.jpg' data-srcset='img/menu/menuCard6@2x.jpg 2x' js-lazy)
              span Тирадито
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_7")
            label(for="checkbox_7")
              img(data-src='img/menu/menuCard7.jpg' data-srcset='img/menu/menuCard7@2x.jpg 2x' js-lazy)
              span Raw Bar
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_8")
            label(for="checkbox_8")
              img(data-src='img/menu/menuCard8.jpg' data-srcset='img/menu/menuCard8@2x.jpg 2x' js-lazy)
              span Устрицы
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_9")
            label(for="checkbox_9")
              img(data-src='img/menu/menuCard9.jpg' data-srcset='img/menu/menuCard9@2x.jpg 2x' js-lazy)
              span Салаты
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_10")
            label(for="checkbox_10")
              img(data-src='img/menu/menuCard10.jpg' data-srcset='img/menu/menuCard10@2x.jpg 2x' js-lazy)
              span Супы  
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_11")
            label(for="checkbox_11")
              img(data-src='img/menu/menuCard11.jpg' data-srcset='img/menu/menuCard11@2x.jpg 2x' js-lazy)
              span Закуски  
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_12")
            label(for="checkbox_12")
              img(data-src='img/menu/menuCard12.jpg' data-srcset='img/menu/menuCard12@2x.jpg 2x' js-lazy)
              span Сырое мясо  
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_13")
            label(for="checkbox_13")
              img(data-src='img/menu/menuCard13.jpg' data-srcset='img/menu/menuCard13@2x.jpg 2x' js-lazy)
              span Хоспер мясо
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_14")
            label(for="checkbox_14")
              img(data-src='img/menu/menuCard14.jpg' data-srcset='img/menu/menuCard14@2x.jpg 2x' js-lazy)
              span Хоспер рыба
          .swiper-slide.checkbox-row__card
            input(type="checkbox" name="checkbox" id="checkbox_15")
            label(for="checkbox_15")
              img(data-src='img/menu/menuCard15.jpg' data-srcset='img/menu/menuCard15@2x.jpg 2x' js-lazy)
              span Десерты
                                  
        // swiper btns
        .swiper-button-prev
        .swiper-button-next
          
      // show results link
      .intro__show-results
        a(href="catalog.html") Показать результат (<span>23</span>)
          
      .intro__cta
        a(href='catalog.html').btn.btn-primary Перейти в каталог вин
