---
title: STEP1
---
extends shared/_layout
block content
  
  // INTRO HEADER
  .intro-header
    a(href="intro.html").intro-logo.intro-logo--no-mark
      include ../inline-svg/logo.svg

  // STEP 1
  .intro
    .container
      .intro__name Подобрать вино по параметрам
      
      // tags
      .intro__tags
        .intro__tag
          span от 2 690 ₽ до 8 000 ₽
          .intro__tag-remove
            +icon('ico-close')
        .intro__tag
          span 0.75l
          .intro__tag-remove
            +icon('ico-close')
        .intro__tag
          span 1965
          .intro__tag-remove
            +icon('ico-close')
        .intro__tag
          span Красное
          .intro__tag-remove
            +icon('ico-close')
        .intro__tag
          span под мясо
          .intro__tag-remove
            +icon('ico-close')
          
      // options
      .options-row
        a(href="step2.html").options-row__card
          img(data-src='img/optionCard1.jpg' data-srcset='img/optionCard1@2x.jpg 2x' js-lazy)
          span По географии
        a(href="step2.html").options-row__card
          img(data-src='img/optionCard2.jpg' data-srcset='img/optionCard2@2x.png 2x' js-lazy)
          span По меню
        a(href="step2.html").options-row__card
          img(data-src='img/optionCard3.jpg' data-srcset='img/optionCard3@2x.jpg 2x' js-lazy)
          span По бокалам
        a(href="step2.html").options-row__card
          img(data-src='img/optionCard4.jpg' data-srcset='img/optionCard4@2x.jpg 2x' js-lazy)
          span По стилю
        a(href="step2.html").options-row__card
          img(data-src='img/optionCard5.jpg' data-srcset='img/optionCard5@2x.jpg 2x' js-lazy)
          span По фишкам
        // no img row
        a(href="step2.html").options-row__card.options-row__card--no-img
          span По цене
        a(href="step2.html").options-row__card.options-row__card--no-img
          span По обьему
        a(href="step2.html").options-row__card.options-row__card--no-img
          span По сахару
        a(href="step2.html").options-row__card.options-row__card--no-img
          span По винтажу
        a(href="step2.html").options-row__card.options-row__card--no-img
          span По градусу    
      
      // show results link
      .intro__show-results
        a(href="catalog.html") Показать результат (<span>23</span>)
          
      .intro__cta
        a(href='catalog.html').btn.btn-primary Перейти в каталог вин
