include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body
    // place where pjax bindings happen's
    #barba-wrapper

      // what should be changed with every pjax
      .page
        .page__content
          block content

  
      block scripts
        include _scripts
