.intro-header

.intro-logo
  max-width: 247px
  margin-left: auto
  margin-right: auto
  display: flex
  align-items: center
  justify-content: center
  padding: 20px
  background: #171717
  transition: .25s $ease
  svg
    width: 101px
  &--no-mark
    margin-top: -50px
    .logo-mark
      display: none

a.intro-logo:hover
    background: darken(#171717, 5%)

+r(1024)
  .intro-logo
    max-width: 198px
    padding: 16px
    svg
      width: 76px
    &--no-mark
      margin-top: -40px

.intro
  margin: auto 0
  padding: 100px 0 75px 0
  &__name
    font-family: 'BravoRG'
    font-size: 80px
    text-align: center
    line-height: 1
    transform: translateY(-0.5em)
  &__instruction
    color: #A7A9B5
    font-size: 18px
    margin-top: 15px
    text-align: center

  &__row
    display: flex
    max-width: 910px
    margin-left: auto
    margin-right: auto
    margin-top: 80px
    margin-bottom: 85px

  &__cta
    text-align: center
    transform: translateY(25px)

  &__show-results
    font-size: 24px
    text-align: center
    margin-bottom: 25px
    transition: .25s $ease
    &:hover
      color: rgba(white, .7)

  &__tags
    margin-top: 15px
    margin-left: -8px
    margin-right: -8px
    display: flex
    align-items: center
    justify-content: center

  &__tag
    flex: 0 1 auto
    margin: 8px
    display: flex
    align-items: center
    background: rgba(#F5F5F5, .05)
    color: #B9BBC4
    padding: 5px 15px 6px 30px
    border-radius: 30px
    transition: .25s $ease
    span
      display: inline-block
      margin-right: 10px
      font-size: 14px
    &-remove
      flex: 0 0 auto
      padding: 5px
      cursor: pointer
      color: #A7A9B5
      font-size: 0
      &:hover
        color: white
    .ico
      font-size: 11px

    &:hover
      background: rgba(#F5F5F5, .15)

  &__range
    position: relative
    padding-top: 70px
    max-width: 915px
    padding: 60px 0
    margin: 15vh auto 20vh auto

  &__styles
    margin: 15vh -10px 20vh -10px
    padding: 0 30px
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

  &__style
    position: relative
    flex: 0 1 auto
    margin: 8px 5px
    input
      display: none
      width: 0.1px
      height: 0.1px
      opacity: 0
      position: absolute
      top: 0
      left: 0
      &:checked
        + label
          border-color: transparent
          background: #A83939
          .intro__style-num
            color: #C96363
    label
      cursor: pointer
      display: flex
      align-items: center
      border: 1px solid #333333
      padding: 9px 30px 12px 30px
      border-radius: 30px
      font-size: 18px
      transition: .25s $ease
    span
      display: inline-block
      margin-right: 17px
      color: white
    &-num
      flex: 0 0 auto
      color: #6E6E6E
      font-size: 18px
      transition: .25s $ease
    &:hover
      label
        border-color: transparent
        background: rgba(#A83939, .8)
        .intro__style-num
          color: #C96363

+r(1024)
  .intro
    padding: 50px 0 40px 0
    &__name
      font-size: 64px
    &__instruction
      font-size: 15px
    &__row
      max-width: 730px
    &__tags
      margin-top: 0px
    &__tag
      margin: 6px
    &__range
      max-width: 735px
      padding: 50px 0 40px 0
      margin: 12vh auto 16vh auto
    &__cta
      transform: translateY(20px)

    &__show-results
      font-size: 19px
      margin-bottom: 15px

    &__styles
      margin: 12vh -10px 16vh -10px
    &__style
      position: relative
      flex: 0 1 auto
      margin: 6px 3px
      label
        padding: 7px 25px 10px 25px
        font-size: 16px
      span
        margin-right: 14px
      &-num
        font-size: 16px
