.ico-add {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-arrow-down {
  width: 1.63em;
  height: 1em;
  fill: #FFF;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #A7A9B5;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-filter {
  width: 0.8em;
  height: 1em;
  fill: #A7A9B5;
}
.ico-left-arrow {
  width: 1.44em;
  height: 1em;
  fill: #FFF;
}
.ico-meat {
  width: 1.1em;
  height: 1em;
  fill: #A7A9B5;
}
.ico-pdf {
  width: 0.75em;
  height: 1em;
  fill: #A7A9B5;
}
.ico-right-arrow {
  width: 1.47em;
  height: 1em;
  fill: #FFF;
}
.ico-soup {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-white-meat {
  width: 0.76em;
  height: 1em;
  fill: #A7A9B5;
}
